/* type[attribute*="value"] {} */
img[src*="bully"] {
    height: 100px;
}

img[src*="sky"] {
    height: 100px;
}

.bold {
    font-family: verdana;
}

.stronger {
    color: brown;
}

.okay {
    border: 1px solid red;
}